# Ignore build and compiled output
bin/
obj/

# Ignore user-specific files
*.user
*.vs
*.suo
*.vscode/
.env

.env

=======
.env
.venv
__pycache__/
GameSpaceBackend/models/__pycache__/
GameSpaceBackend/services/__pycache__/

# Ignore dependency-related files
packages/
project.lock.json
.fake