#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal halves */
  width: 80%;
  height: 80vh;
  max-width: 1200px;

  gap: 180px;
}

/* Left Side - Logo Section */
.left-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3f37c9;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* Right Side - Sign Up Form */
.right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9237cf;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
